.navBar {
  padding: 15px 25px;
  position: fixed;
  background-color: #ffffff;
  z-index: 9;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0 2px 4px #00000014;
}

.navBarItems {
  display: flex;
  justify-content: space-between;
}

.navBarItems ul {
  display: flex;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
  align-items: center;
}

.navBar li {
  list-style-type: none;
}

.navBar li:first-child {
  padding-left: 15px;
}
