.topBanner {
  width: 100%;
  height: 250px;
  background-image: url(/images/pics/about/About-header-BG-Desktop.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: #f1f1f1;
  display: flex;
  text-align: center;
  align-items: center;
}

@media only screen and (max-width: 960px) {
  .topBanner {
    height: 100px;
  }
}
