.topBanner {
  width: 100%;
  height: 250px;
  display: flex;
  background-image: url(/images/1-on-1/1on1-BG-Desktop.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: #f1f1f1;
  text-align: center;
  align-items: center;
}

.contactButton {
  position: absolute;
  top: 16px;
  right: 16px;
  z-index: 1;
}

.consultantPhoto {
  border-radius: 50%;
}

.joinUsCard {
  position: absolute;
  background-color: #fdf7f2;
  top: 40px;
  right: 24px;
  z-index: 2;
  width: 220px;
}

.closeBtn {
  position: absolute;
  z-index: 2;
  top: 10px;
  left: 10px;
}

.consultantCardDiv {
  padding: 10px;
  display: flex;
  align-items: center;
  position: relative;
}

.consultantName {
  padding: 5px;
}

.nameSection {
  width: 100px;
}

.filterBox {
  padding: 24px;
}

.searchBar {
  padding: 2px 4px;
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 960px) {
  .joinUsCard {
    position: fixed;
    bottom: 0;
    top: auto;
    width: 100%;
    left: 0;
  }

  .innerDiv {
    display: flex;
    justify-content: flex-end;
  }
}

@media only screen and (max-width: 720px) {
  .topBanner {
    height: 125px;
  }

  .consultantCardDiv {
    display: block;
  }

  .consultantName {
    text-align: center;
  }

  .searchBar {
    width: 100%;
  }
}
