.triBlockContent {
  align-content: center;
  text-align: center;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 20px -1px rgb(0 0 0 / 8%);
}

.deviationMeasure {
  width: 100%;
  height: auto;
}

.measurePointDiv {
  position: absolute;
  z-index: 2;
  top: 0;
}
