.topBanner {
  width: 100%;
  height: 250px;
  display: flex;
  background-image: url(/images/images_from_api/library.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: #f1f1f1;
  text-align: center;
  align-items: center;
}

.evaluation {
  width: 55%;
  margin-top: 40px;
  margin-bottom: 40px;
  background-color: #fdf7f2;
  border-radius: 10px;
  padding: 35px;
}

@media only screen and (max-width: 720px) {
  .topBanner {
    height: 125px;
  }
}
